<div class="placeholder">
    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/img/simple-house-01.jpg">
        <div class="tm-header">
            <div class="row tm-header-inner">
                <div class="col-md-6 col-12">
                    <img src="assets/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" /> 
                    <div class="tm-site-text-box">
                        <h1 class="tm-site-title">Simple House</h1>
                        <h6 class="tm-site-description">new restaurant template</h6>	
                    </div>
                </div>
                <nav class="col-md-6 col-12 tm-nav">
                    <ul class="tm-nav-ul">
                        <li class="tm-nav-li"><a routerLink="/" class="tm-nav-link active">Home</a></li>
                        <li class="tm-nav-li"><a routerLink="/login" class="tm-nav-link">Login</a></li>
                    </ul>
                </nav>	
            </div>
        </div>
    </div>
</div>