<div class="placeholder">
    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/img/simple-house-01.jpg">
        <div class="tm-header">
            <div class="row tm-header-inner">
                <div class="col-md-6 col-12">
                    <img src="assets/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" /> 
                    <div class="tm-site-text-box">
                        <h1 class="tm-site-title">Cocktail Recipes App</h1>
                    </div>
                </div>
                <nav class="col-md-6 col-12 tm-nav">
                    <ul class="tm-nav-ul">
                        <li class="tm-nav-li"><a routerLink="/" class="tm-nav-link">Home</a></li>
                        <li *ngIf="isLoggedIn" class="tm-nav-li"><a routerLink="/admin" class="tm-nav-link">Recipes</a></li>
                        <li *ngIf="!isLoggedIn" class="tm-nav-li"><a routerLink="/login" class="tm-nav-link">Login</a></li>
                        <li *ngIf="isLoggedIn" class="tm-nav-li"><a routerLink="#" (click)="logout()" class="tm-nav-link">Log out</a></li>
                    </ul>
                </nav>	
            </div>
        </div>
    </div>
</div>